{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "error"
  }
}
